<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signin.css">
</head>
<body>
 
        <nav class="nav-bar">
            <img src="/images/dekut-logo.png" alt="">
            <span id="website-name">Exam processing module</span>
        </nav>
   <form action="/signin" method="POST" class="signin" id="signinForm">
            <img class="image-icon" id="image" src="/images/login.png" alt="Image">
         <br>
     
        
            <input type="email" name="email" id="email" placeholder="Email"><br>
            <input type="password" name="password" id="password" placeholder="password"><br>
            <a id="forgot-password" href="">Forgot password !</a>
            <button type="submit">Sign in</button><br>

            <label>Dont have an account? </label><a href="/signup">Create account.</a>
    </form>
    
        <div class="Sign-in-description" id="signinDesc">
            <h2>Hello! </h2>
            <h4>Enter your personal details to continue or else </h4>
            <button id="signinInfoBtn" type="submit">Sign up</button>
            

    
        </div>
       
            

    
        </div>
    
      

    
</body>
</html>