<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <nav class="nav-bar">
            <a href="" class="nav-links"><i class='bx bxs-edit'></i>Spark Verse</a>
        </nav>
    </header>
     <div class="description">
            <h2>Wlecome back, </h2>
            <h1>Sign in</h1>
    </div>
    <div class="container">
       
       
        <form action="/login" method="POST" class="signin">
            <img class="image-icon" id="image" src="../public/user.png" alt="Image">
         <br>
     
        
            <input type="email" name="email" id="email" placeholder="Email"><br>
            <input type="password" name="password" id="password" placeholder="password"><br>
            <a id="forgot-password" href="">Forgot password !</a>
            <button type="submit">Sign in</button><br>

            <label>Dont have an account? </label><a href="/signup">Create account.</a>
    <div class="text-sigin">
 <label>       <i class='bx bxl-google'></i>Signin in with Google</label><br>
       <label> <i class='bx bxl-apple'></i>Signin in with Apple</label><br>
     <label>   <i class='bx bxl-facebook-circle'></i>Signin in with Facebook</i></label>
        
    </div>
    
    
     </div>
        </form>
   
      
  
</body>
</html>